@import './../../../globalstyles';

.user-info {
  display: flex;;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 340px;

  .user-info-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -140px;

    img {
      width: 50px;
    }

    p {
      font-size: 14px;
    }
  }

  a {
    margin: 0;
    height: 19px;
    width: 15px;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 15 19" xmlns="http://www.w3.org/2000/svg"> <path fill="rgb(244, 238, 224)" d="M7.5 4.40753e-06C6.3024 -0.00159043 5.14457 0.429673 4.23984 1.21434C3.3351 1.999 2.74442 3.08419 2.57662 4.26998C2.40882 5.45576 2.6752 6.66224 3.3267 7.66713C3.97819 8.67201 4.9709 9.4076 6.12192 9.73836C4.4863 9.93699 3.08356 10.5151 2.02603 11.5575C0.680822 12.8822 0 14.8562 0 17.4315C0 17.6041 0.0685539 17.7696 0.190581 17.8916C0.312608 18.0136 0.478112 18.0822 0.650685 18.0822C0.823257 18.0822 0.988761 18.0136 1.11079 17.8916C1.23282 17.7696 1.30137 17.6041 1.30137 17.4315C1.30137 15.0753 1.92192 13.4863 2.93973 12.4836C3.9589 11.4795 5.48219 10.9589 7.5 10.9589C9.51781 10.9589 11.0411 11.4795 12.0616 12.4836C13.0781 13.4877 13.6986 15.0753 13.6986 17.4315C13.6986 17.6041 13.7672 17.7696 13.8892 17.8916C14.0112 18.0136 14.1767 18.0822 14.3493 18.0822C14.5219 18.0822 14.6874 18.0136 14.8094 17.8916C14.9314 17.7696 15 17.6041 15 17.4315C15 14.8562 14.3192 12.8836 12.9726 11.5575C11.9178 10.5164 10.5137 9.93699 8.87808 9.73836C10.0253 9.40388 11.0135 8.66717 11.6616 7.66325C12.3097 6.65934 12.5742 5.45547 12.4068 4.27232C12.2394 3.08917 11.6512 2.00599 10.75 1.22132C9.84875 0.436646 8.69494 0.00305032 7.5 4.40753e-06ZM3.83562 4.96576C3.83562 3.9939 4.22168 3.06185 4.90889 2.37465C5.59609 1.68744 6.52814 1.30137 7.5 1.30137C8.47185 1.30137 9.4039 1.68744 10.0911 2.37465C10.7783 3.06185 11.1644 3.9939 11.1644 4.96576C11.1644 5.93761 10.7783 6.86966 10.0911 7.55687C9.4039 8.24407 8.47185 8.63014 7.5 8.63014C6.52814 8.63014 5.59609 8.24407 4.90889 7.55687C4.22168 6.86966 3.83562 5.93761 3.83562 4.96576Z" /></svg>');

    &:hover {
      background-image: url('data:image/svg+xml, <svg viewBox="0 0 15 19" xmlns="http://www.w3.org/2000/svg"> <path fill="rgb(101, 108, 130)" d="M7.5 4.40753e-06C6.3024 -0.00159043 5.14457 0.429673 4.23984 1.21434C3.3351 1.999 2.74442 3.08419 2.57662 4.26998C2.40882 5.45576 2.6752 6.66224 3.3267 7.66713C3.97819 8.67201 4.9709 9.4076 6.12192 9.73836C4.4863 9.93699 3.08356 10.5151 2.02603 11.5575C0.680822 12.8822 0 14.8562 0 17.4315C0 17.6041 0.0685539 17.7696 0.190581 17.8916C0.312608 18.0136 0.478112 18.0822 0.650685 18.0822C0.823257 18.0822 0.988761 18.0136 1.11079 17.8916C1.23282 17.7696 1.30137 17.6041 1.30137 17.4315C1.30137 15.0753 1.92192 13.4863 2.93973 12.4836C3.9589 11.4795 5.48219 10.9589 7.5 10.9589C9.51781 10.9589 11.0411 11.4795 12.0616 12.4836C13.0781 13.4877 13.6986 15.0753 13.6986 17.4315C13.6986 17.6041 13.7672 17.7696 13.8892 17.8916C14.0112 18.0136 14.1767 18.0822 14.3493 18.0822C14.5219 18.0822 14.6874 18.0136 14.8094 17.8916C14.9314 17.7696 15 17.6041 15 17.4315C15 14.8562 14.3192 12.8836 12.9726 11.5575C11.9178 10.5164 10.5137 9.93699 8.87808 9.73836C10.0253 9.40388 11.0135 8.66717 11.6616 7.66325C12.3097 6.65934 12.5742 5.45547 12.4068 4.27232C12.2394 3.08917 11.6512 2.00599 10.75 1.22132C9.84875 0.436646 8.69494 0.00305032 7.5 4.40753e-06ZM3.83562 4.96576C3.83562 3.9939 4.22168 3.06185 4.90889 2.37465C5.59609 1.68744 6.52814 1.30137 7.5 1.30137C8.47185 1.30137 9.4039 1.68744 10.0911 2.37465C10.7783 3.06185 11.1644 3.9939 11.1644 4.96576C11.1644 5.93761 10.7783 6.86966 10.0911 7.55687C9.4039 8.24407 8.47185 8.63014 7.5 8.63014C6.52814 8.63014 5.59609 8.24407 4.90889 7.55687C4.22168 6.86966 3.83562 5.93761 3.83562 4.96576Z" /></svg>');
    }
  }
}
