@import './../../globalstyles';

.chat-page {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  flex-direction: row;
}

.chat-list {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.right-message {
  justify-content: flex-end;
}

.my-message {
  background-color: var(--violet-bright);
}

.addressee-message {
  background-color: var(--violet);
}

.search-input {
  width: 340px!important;
  height: 44px!important;
  margin-bottom: 16px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: var(--violet-dark);
  font-family: inherit;
  border: 1px solid var(--violet);
  font-weight: 400;
  color: var(--text-color);
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 4px var(--text-color);
    transition: .3s box-shadow;
    outline: none;
  }

  &::-webkit-input-placeholder {
    transform: translateY(1px);
  }

  &:-moz-placeholder {
    transform: translateY(1px);
  }

  &::-moz-placeholder {
    transform: translateY(1px);
  }

  &:-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::placeholder {
    transform: translateY(1px);
  }
}

.chat-input {
  width: 700px!important;
  height: 36px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: var(--violet-dark);
  font-family: inherit;
  border: 1px solid var(--violet);
  font-weight: 400;
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0!important;

  &:focus {
    box-shadow: 0 0 4px var(--text-color);
    transition: .3s box-shadow;
    outline: none;
  }

  &::-webkit-input-placeholder {
    transform: translateY(1px);
  }

  &:-moz-placeholder {
    transform: translateY(1px);
  }

  &::-moz-placeholder {
    transform: translateY(1px);
  }

  &:-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::placeholder {
    transform: translateY(1px);
  }
}

.active {
  background-color: #21315a;

  &:hover {
    background-color:#21315a;
  }
}
