@import './../../globalstyles.scss';

.chatPage {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  flex-direction: row;
}

.chatList {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatWindow {
  height: 100%;
  width: calc(100% - 430px);
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(244, 238,224,0.2);
  .noAddressees {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 20px;
      font-weight: 200;
    }
  }
}

.searchInput {
  width: 340px;
  height: 36px;

}
