.profile {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h1 {
    font-size: 30px;
    font-weight: 200;
    margin: 0 0 40px;
  }

  .profile-top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;

    .avatar-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      margin: 0;

      img {
        width: 70px;
      }

      p {
        font-size: 14px;
      }
    }

    .profile-avatar {

      img {
        width: 70px;
      }

      p {
        font-size: 14px;
      }
    }

    .change-btns {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin: 0;

      a, p{
        color: var(--text-color);
        font-size: 14px;
        transition: 0.3s;
        font-weight: 300;
        text-align: start;
        margin: 0;
        cursor: pointer;

        &:hover {
            color: #635E66;
        }
      }
      .no-hover {
        cursor: auto;
        &:hover {
          color: var(--text-color);
        }
      }

    }
  }

  .save-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

}
