@import './../../../globalstyles';


.hint-link-block {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0;
  color: var(--text-color);

  p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    transition: 0.3s;
  }

  .hint-icon {
    display: block;
    height: 15px;
    width: 20px;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg"> <path fill="rgb(244, 238, 224)" d="M17.257 8.2107H0.908265C0.399637 8.2107 0 7.81106 0 7.30243C0 6.7938 0.399637 6.39417 0.908265 6.39417H17.257C17.7657 6.39417 18.1653 6.7938 18.1653 7.30243C18.1653 7.81106 17.7657 8.2107 17.257 8.2107Z" /><path fill="rgb(244, 238, 224)" d="M12.7157 14.5686C12.5966 14.57 12.4785 14.5465 12.369 14.4996C12.2595 14.4527 12.161 14.3834 12.0799 14.2961C11.7166 13.9328 11.7166 13.3697 12.0799 13.0064L17.802 7.28429L12.0799 1.56222C11.7166 1.19891 11.7166 0.635786 12.0799 0.27248C12.4432 -0.0908265 13.0064 -0.0908265 13.3697 0.27248L19.7275 6.63034C20.0908 6.99364 20.0908 7.55677 19.7275 7.92007L13.3697 14.2779C13.188 14.4596 12.9519 14.5504 12.7339 14.5504L12.7157 14.5686Z" /></svg>');
  }

  &:hover {
    p {
      color: #656C82;
    }

    .hint-icon {
      rotate: 180deg;
      background-image: url('data:image/svg+xml, <svg viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg"> <path fill="rgb(101, 108, 130)" d="M17.257 8.2107H0.908265C0.399637 8.2107 0 7.81106 0 7.30243C0 6.7938 0.399637 6.39417 0.908265 6.39417H17.257C17.7657 6.39417 18.1653 6.7938 18.1653 7.30243C18.1653 7.81106 17.7657 8.2107 17.257 8.2107Z" /><path fill="rgb(101, 108, 130)" d="M12.7157 14.5686C12.5966 14.57 12.4785 14.5465 12.369 14.4996C12.2595 14.4527 12.161 14.3834 12.0799 14.2961C11.7166 13.9328 11.7166 13.3697 12.0799 13.0064L17.802 7.28429L12.0799 1.56222C11.7166 1.19891 11.7166 0.635786 12.0799 0.27248C12.4432 -0.0908265 13.0064 -0.0908265 13.3697 0.27248L19.7275 6.63034C20.0908 6.99364 20.0908 7.55677 19.7275 7.92007L13.3697 14.2779C13.188 14.4596 12.9519 14.5504 12.7339 14.5504L12.7157 14.5686Z" /></svg>');
    }
  }
}


.hint-text {
  font-size: 14px;
  font-weight: 200;
  margin-top: 1px;
}
