@import './../../../globalstyles';

.form-input {
  width: 420px;
  margin-bottom: 16px;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: var(--violet-dark);
  font-family: inherit;
  border: 1px solid var(--violet);
  font-weight: 400;
  color: var(--text-color);
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 4px var(--text-color);
    transition: .3s box-shadow;
    outline: none;
  }

  &::-webkit-input-placeholder {
    transform: translateY(1px);
  }

  &:-moz-placeholder {
    transform: translateY(1px);
  }

  &::-moz-placeholder {
    transform: translateY(1px);
  }

  &:-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::-ms-input-placeholder {
    transform: translateY(1px);
  }

  &::placeholder {
    transform: translateY(1px);
  }
}

.input-error-message {
  color: red;
  font-size: 20px;
}
