.errorPage {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  .errorText {
    margin: 0;
    font-size: 40px;
    font-weight: 200;
  }
  .errorBtn {
    margin-top: 20px;
    display: flex;
    background: none;
    border: 1px solid var(--text-color);
    transition: 0.3s;
    &:hover {
      background-color: var(--text-color);
    }
    a {
      font-weight: 200;
      color: var(--text-color);
      padding: 10px 40px;
      font-size: 28px;
      font-family: 'Montserrat';
      transition: 0.3s;
      &:hover {
        color: var(--violet-dark);
      }
    }
  }
}
