:root {
  --text-color: #F4EEE0;
  --violet-dark: #1E1A21;
  --violet: #393646;
  --violet-lighter: #6D5D6E;
  --violet-bright: #544983;
  --violet-chat: #2A2933;
  --chat-addressee-block-height: 60px;
}
